body{
  text-align: left;
}

#num_game .box {
  width: 30vw;
  height: 30vw;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: powderblue;
  display: inline-block;
  font-size: 60px;
  text-align: center;
  position: relative;
}
#num_game .box:nth-child(3n) {
  margin-right: 0;
}
#num_game .box.active{
  background-color: blue;
}
#num_game .box > span {
  display: block;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
#num_game{position: relative;}
#num_game .error{display: none;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);}
#num_game .error.active{
  display: block;
}
#num_game .error span{display: none;position: absolute;top: 50%;left: 50%;  width: 500px; height: 80px;background-color: #000; color: #fff;transform: translate(-50%,-50%);line-height: 80px;text-align: center;}
#num_game .error.active span{display: block;}
#num_game .score {position: absolute; display: block; top: -28px;}
#num_game .congra{display: none;position: absolute;top: 50%;left: 50%;  width: 100%; height: 100%;background-color: #000; color: #fff;transform: translate(-50%,-50%);text-align: center;}
#num_game .congra.active{display: block;}
#num_game .congra.active span {display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
#num_game .congra.active button{top: 53%; left: 50%;transform: translateX(-50%); position: absolute;}





